<div class="animsition">	
	<header>
		<!-- Header desktop -->
		<div id="wrap_header" >		
			<!-- Menu -->
			<div class="main_nav">
				<nav class="menu col_header">
					<ul class="main_menu">
						<li><a href="/">Home</a>
						</li>
						<li><a href="/gallery">Gallery</a>
						</li>
						<li><a href="/shop-page">SHOP ONLINE!</a>
							<ul class="sub_menu">
								<li><a href="/shop-page">Shop Page</a></li>
								<li><a href="/shopping-cart">Shopping Cart</a></li>
								<li><a href="/check-out">Check Out</a></li>
							</ul>
						</li>
						<li><a href="/contact-us">Contact</a></li>
					</ul>
				</nav>
			</div>

			<!-- Socials -->
			<div class="icon-header col_header">
				<a href="https://www.facebook.com/tasteandseebyaudrey"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="https://twitter.com/TasteNSeeAudrey"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/tasteandseebyaudrey/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>
		</div>

		<!-- Header Mobile -->
		<div id="wrap_header_mobile">
		
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="/"><img alt="logo-deli" src="images/TasteLogo.png"></a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<button class="btn-show-menu-mobile hamburger hamburger--squeeze" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>	
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li>
						<a href="/">Home</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						<ul class="sub-menu">
							<li><a href="/">Homepage</a></li>
						</ul>
					</li>
					<li>
						<a href="/gallery">Menus</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						<ul class="sub-menu">
							<li><a href="/gallery">Gallery</a></li>
						</ul>
					</li>
					<li>
						<a href="/shop-page">SHOP ONLINE!</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						<ul class="sub-menu">
							<li><a href="/shop-page">Shop Page</a></li>
							<li><a href="/shopping-page">Shopping Cart</a></li>
							<li><a href="/check-out">Check Out</a></li>
						</ul>
					</li>
					<li>
						<a href="/contact-us">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>