{{> testfile }}

	<!-- Title page -->
	<section>
		<div class="bg-title-sub-page bg-menu-page-02 ">
			<div class="wrap-title-sub-page">
				<h2 class="title-l">Check out</h2>
				<h6 class="title-s">Home / Check out</h6>
			</div>
		</div>
	</section>

	<section class="content-checkout-page">
		<div class="container">
			
			<!-- 01/Check out method -->
			<form>
				<div class="wrap-check-out-method">
					<h4 class="medium-text-2">01 / Checkout method</h4>
					<p>
						If you have shopped with us before, please enter your details in the boxes below. If you are a new customer, please proceed to the Billing & Shipping section.
					</p>

					<div class="row">
						<div class="col-res-check-out-method col-md-5">
							<input class="input-check-out small-text" type="text" name="username" placeholder="Username or email">
						</div>
						<div class="col-res-check-out-method col-md-5">
							<input class="input-check-out small-text" type="password" name="password" placeholder="Password">
						</div>
						<div class="wrap-btn-login col-md-2">
							<button class="btn-login-extend btn-with-bg">LOG IN</button>
							<a href="#" class="small-text">Lost your password?</a>

						</div>
					</div>
				</div>				
			</form>

			<form>
				<!-- 02/Billing & shipping detail -->
				<div class="wrap-billing-shipping-detail">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<!-- -->
							<div class="input-billing-shipping-detail row">
								<div class="col-12">
									<h4 class="medium-text-2">02 / Billing & Shipping details</h4>
								</div>

								<div class="col-res-input-billing-shipping-detail left col-md-12 col-lg-6">
									<input class="input-check-out small-text" type="text" name="first-name" placeholder="First name">
								</div>
								<div class="col-res-input-billing-shipping-detail right col-md-12 col-lg-6">
									<input class="input-check-out small-text" type="text" name="last-name" placeholder="Last name">
								</div>
								<div class="col-12">
									<input class="input-check-out small-text" type="text" name="company" placeholder="Company (optinal)">
								</div>
								<div class="col-res-input-billing-shipping-detail left col-md-12 col-lg-6">
									<input class="input-check-out small-text" type="text" name="address" placeholder="Address">
								</div>
								<div class="col-res-input-billing-shipping-detail right col-md-12 col-lg-6">
									<input class="input-check-out small-text" type="text" name="apt-suit" placeholder="Apt, suite, etc. (optinal)">
								</div>
							</div>

							<div class="wrap-chose-address-extend for-check-out-page">
								<div class="row">
									<div class="col-res-input-billing-shipping-detail left col-md-12 col-lg-6">
										<select class=" chose-people" name="chose-people">
											<option>City</option>
											<option>City 2</option>
											<option>City 3</option>
											<option>City 4</option>
											<option>City 5</option>
											<option>City 6</option>
										</select>
									</div>

									<div class="col-res-input-billing-shipping-detail right col-md-12 col-lg-6">
										<select class="chose-time" name="chose-time">
											<option>State</option>
											<option>State 2</option>
											<option>State 3</option>
											<option>State 4</option>
											<option>State 5</option>
											<option>State 6</option>
										</select>
									</div>
								</div>
							</div>

							<div class="input-billing-shipping-detail row">
								<div class="col-12">
									<input class="input-check-out small-text" type="text" name="postcode" placeholder="Postcode / ZIP">
								</div>
								<div class="col-res-input-billing-shipping-detail left col-md-12 col-lg-6">
									<input class="input-check-out small-text" type="text" name="phone" placeholder="Phone">
								</div>
								<div class="col-res-input-billing-shipping-detail right col-md-12 col-lg-6">
									<input class="input-check-out small-text" type="text" name="email" placeholder="Email">
								</div>
							</div>	
						</div>
						
						<div class="col-sm-12 col-md-6">
							<div class="row">
								<!-- -->
								<div class="wrap-checkbox-different-address col-12">
									<input type="checkbox" id="different-address" name="different-address"> 
									<label for="different-address">
										<span class="btn-check"></span>
										<span class="text-checkbox small-text">Ship to a different address?</span>
									</label>
								</div>
								
								<div class="col-12 wrap-input-different-address">
									<!-- -->
									<div class="input-billing-shipping-detail row">
										
										<div class="col-res-input-billing-shipping-detail left col-md-12 col-lg-6">
											<input class="input-check-out small-text" type="text" name="first-name" placeholder="First name">
										</div>
										<div class="col-res-input-billing-shipping-detail right col-md-12 col-lg-6">
											<input class="input-check-out small-text" type="text" name="last-name" placeholder="Last name">
										</div>
										<div class="col-12">
											<input class="input-check-out small-text" type="text" name="company" placeholder="Company (optinal)">
										</div>
										<div class="col-res-input-billing-shipping-detail left col-md-12 col-lg-6">
											<input class="input-check-out small-text" type="text" name="address" placeholder="Address">
										</div>
										<div class="col-res-input-billing-shipping-detail right col-md-12 col-lg-6">
											<input class="input-check-out small-text" type="text" name="apt-suit" placeholder="Apt, suite, etc. (optinal)">
										</div>
									</div>

									<div class="wrap-chose-address-extend for-check-out-page">
										<div class="row">
											<div class="col-res-input-billing-shipping-detail left col-md-12 col-lg-6">
												<select class=" chose-people" name="chose-people">
													<option>City</option>
													<option>City 2</option>
													<option>City 3</option>
													<option>City 4</option>
													<option>City 5</option>
													<option>City 6</option>
												</select>
											</div>

											<div class="col-res-input-billing-shipping-detail right col-md-12 col-lg-6">
												<select class="chose-time" name="chose-time">
													<option>State</option>
													<option>State 2</option>
													<option>State 3</option>
													<option>State 4</option>
													<option>State 5</option>
													<option>State 6</option>
												</select>
											</div>
										</div>
									</div>

									<div class="input-billing-shipping-detail row">
										<div class="col-12">
											<input class="input-check-out small-text" type="text" name="postcode" placeholder="Postcode / ZIP">
										</div>
										<div class="col-res-input-billing-shipping-detail left col-md-12 col-lg-6">
											<input class="input-check-out small-text" type="text" name="phone" placeholder="Phone">
										</div>
										<div class="col-res-input-billing-shipping-detail right col-md-12 col-lg-6">
											<input class="input-check-out small-text" type="text" name="email" placeholder="Email">
										</div>
									</div>	
								</div>

								<div class="wrap-order-note input-billing-shipping-detail col-12">
									<textarea class="order-note small-text" name="order-note" placeholder="Order notes"></textarea>
								</div>

								
							</div>
						</div>

						<div class="wrap-checkbox-different-address col-12">
							<input type="checkbox" id="save-info" name="save-info"> 
							<label for="save-info">
								<span class="btn-check"></span>
								<span class="text-checkbox small-text">Save this information for next time</span>
							</label>
						</div>
						<!-- -->
					</div>
				</div>

				<!-- Your order -->
				<div class="wrap-your-order">
					<div class="title-your-order">
						<h4 class="medium-text-2">Your order</h4>
					</div>

					<div class="table-your-order-extend wrap-table-shopping-cart">
						<table class="table-shopping-cart">
							<tr class="table_head">
								<th class="column-2">Product</th>
								<th class="column-3">Total</th>
							</tr>

							<tr class="table-row">
								<td class="column-2">Pork Grilled x 2</td>
								<td class="column-3">$ 5.00</td>
							</tr>

							<tr class="table-row">
								<td class="column-2">Subtotal</td>
								<td class="column-3">$ 3.00</td>
							</tr>

							<tr class="table-row">
								<td class="column-2">Shipping</td>
								<td class="column-3">Flat rate: $ 2.00</td>
							</tr>

							<tr class="table-row">
								<td class="column-2">Total</td>
								<td class="column-3">$ 10.00</td>
							</tr>
						</table>
					</div>
				</div>

				<!-- 03 / Payment information -->
				<div class="wrap-payment" >
					<h4 class="medium-text-2">03 / Payment information</h4>
					<p>
						Credit card (PayPal)
						<span class="wrap-icon-pay first">
							<img src="images/icons/visa.png" class="img-no-color" alt="img-paypal ">
							<img src="images/icons/visa-img.png" class="img-color" alt="img-paypal ">
						</span>
						<span class="wrap-icon-pay">
							<img src="images/icons/paypal.png" class="img-no-color" alt="img-paypal">
							<img src="images/icons/paypal-img.png" class="img-color" alt="img-paypal">
						</span>
						<span class="wrap-icon-pay">
							<img src="images/icons/master-card.png" class="img-no-color" alt="img-paypal">
							<img src="images/icons/master-card-img.png" class="img-color" alt="img-paypal">
						</span>
						<span class="wrap-icon-pay">
							<img src="images/icons/american-express.png" class="img-no-color" alt="img-paypal">
							<img src="images/icons/american-express-img.png" class="img-color" alt="img-paypal">
						</span>
						<span class="wrap-icon-pay">
							<img src="images/icons/discover.png" class="img-no-color" alt="img-paypal">
							<img src="images/icons/discover-img.png" class="img-color" alt="img-paypal">
						</span>
					</p>
					<p>
						Pay with your credit card via PayPal Website Payments Pro.
					</p>

					<div class="row">
						<div class="col-res-payment col-sm-12 col-md-6 col-lg-3">
							<input class="input-check-out small-text" type="text" name="card-number" placeholder="Card Number">
						</div>
						<div class="col-res-payment col-sm-12 col-md-6 col-lg-3">
							<input class="input-check-out small-text" type="text" name="expiry" placeholder="Expiry (MM/YY)">
						</div>
						<div class="col-res-payment col-sm-12 col-md-6 col-lg-3">
							<input class="input-check-out small-text" type="text" name="card-code" placeholder="Card Code">
						</div>
						<div class="col-res-payment col-sm-12 col-md-6 col-lg-3">
							<button class="btn-with-bg">Place Order</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>

	<footer class="footer-home-boxed">
				<div class="container">
					<div class="content-footer row">
						<div class="column-footer col-lg-5 col-md-8 col-sm-7">
							<h3>Contact information</h3>
							<ul>
								<li>Middlesex County, NJ</li>
								<li>FOR BOOKING: 732-668-6020</li>
								<li id="follow-us">FOLLOW US ON: 
									<a href="https://www.facebook.com/tasteandseebyaudrey"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									<a href="https://twitter.com/TasteNSeeAudrey"><i class="fa fa-twitter" aria-hidden="true"></i></a>
									<a href="https://www.instagram.com/tasteandseebyaudrey/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>

						<div class="column-footer col-lg-4 col-md-5 col-sm-7">
							<h3>Baking Hours</h3>
							<ul id="restaurant-hours">
								<li>
									<span class="span-left">Weekdays:</span>
								</li>
								<li>
									<span class="span-left">Monday - Friday</span>
									<span class="span-right">11:30AM - 2:00PM</span>
								</li>
								<li>
									<span class="span-left">Weekend:</span>
								</li>
								<li>
									<span class="span-left">Saturday</span>
									<span class="span-right">11:30AM - 2:00</span>
								</li>
								<li>
									<span class="span-left">Sunday</span>
									<span class="span-right">Closed</span>
								</li>
							</ul>
							<div class="line-divide first-line"></div>
						</div>

						<div class="column-footer col-lg-3 col-md-3 col-sm-7">
							<h3>Useful links</h3>
							<ul id="useful-links">
								<li>
									<span class="span-left">
										<a href="/">Home</a>
									</span> 
									<span class="span-right">
										<a href="/shop-page">Order Online!</a>
									</span>
								</li>
								<li>
									<span class="span-right">
										<a href="contact-us">Contact us</a>
									</span>
								</li>
							</ul>
							<div class="line-divide second-line"></div>
						</div>
					</div>
				</div>
				<div class="wrap-bottom-footer">
					<div class="container">
						<div class="bottom-footer row justify-content-between">
							<div class="col-12 col-sm-7">© 2019 Audrey. All rights reserved.</div>
						</div>
					</div>
				</div>
			</footer>
	
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>
