<div id="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msgDash}}</h1>
                <br>
                <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inquiries">Inquiries</a>
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>