<div class="home">
  {{!-- Desktop Nav Bar --}}
  <div class="sidenav">
    <nav class="nav flex-column">
      <a class="nav-link" href="/">
        <img src="/images/TasteLogo.png" width="200" height="100" alt="cupcake">
      </a>
      <br>
      <a class="nav-link" href="orderform" target="_blank">ORDER NOW</a>
      <br>
      <a class="nav-link" href="about">About</a>
      <a class="nav-link" href="menu">Menu</a>
      <a class="nav-link" href="contact">Contact</a>
      <br>
      <a>FOLLOW US</a>
      <a class="nav-link" href="https://www.facebook.com/tasteandseebyaudrey/" target="_blank">
        <img src="/images/facebook_icon.png" width="30" height="30" alt="facebook">
      </a>
      <a class="nav-link" href="https://www.instagram.com/tasteandseebyaudrey/" target="_blank">
        <img src="/images/instagram_icon.png" width="30" height="30" alt="instagram">
      </a>
    </nav>
  </div>
  {{!-- Mobile Nav Bar --}}
  <div class="topnav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="/images/TasteLogoMobile.png" width="50" height="50" class="d-inline-block align-top" alt="cupcake">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="text-align: center">
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="orderform" target="_blank">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/tasteandseebyaudrey/" target="_blank">
              <img src="/images/facebook_icon.png" width="30" height="30" alt="facebook">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/tasteandseebyaudrey/" target="_blank">
              <img src="/images/instagram_icon.png" width="30" height="30" alt="instagram">
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  {{!-- Main Content --}}
  <div class="mainContent">
    {{!-- Gallery --}}
    <div class="row">
      <div class="gallery container" id="gallery">
        <div class="mb-3 pics animation all horizontal">
          <img class="img-fluid" src="/images/pexels-photo-1857157.jpg" alt="dessert table" width="100%">
        </div>
        <div class="mb-3 pics animation all vertical">
          <img class="img-fluid" src="/images/Image5.png" alt="cake" width="100%">
        </div>
        <div class="mb-3 pics animation all vertical">
          <img class="img-fluid" src="/images/pink.png" alt="cake" width="100%">
        </div>
        <div class="mb-3 pics animation all horizontal">
          <img class="img-fluid" src="/images/ftonpage.jpg" alt="dessert table" width="100%">
        </div>
        <div class="mb-3 pics animation all horizontal">
          <img class="img-fluid" src="/images/colorful-colourful-cupcakes-587739.jpg" alt="dessert table" width="100%">
        </div>
        <div class="mb-3 pics animation all vertical">
          <img class="img-fluid" src="/images/Image10.png" alt="cake" width="100%">
        </div>
      </div>
    </div>
    {{!-- Menu --}}
    <div class="row">
      <div class="container menu-container">
        <img src="/images/bake-baker-bakery-1251179.jpg" alt="baker" width="100%">
        <div class="centered">
          <h2>HOME MADE, BAKED WITH LOVE</h2>
          <a class="nav-link" href="menu">VIEW OUR MENU</a>
        </div>
      </div>
    </div>
    <br>
    {{!-- Order --}}
    <div class="row">
      <div class="container order-container">
        <img src="/images/cakes-chocolate-close-up-959079.jpg" alt="cakes" width="100%">
        <div class="centered">
          <h2>ONLINE ORDERING</h2>
          <a class="nav-link" href="orderform" target="_blank">ORDER NOW</a>
        </div>
      </div>
    </div>
    <br>
    {{!-- Bottom Image --}}
    <div class="row">
      <div class="container bottom-container">
        <img src="/images/baking-blueberries-blur-227432.jpg" alt="happy cake" width="100%">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>