<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

.w3-sidebar{
    background-color:  #de6fa1;
}

/* featured */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.featured{
    width: 100px;
    height: 100px;
}
.yellow{
justify-content: center;
margin: 20px 0px 0px 97px;

}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar  w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Company<br>Name</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="#showcase" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Gifts</a> 
    <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Shop</a> 
    <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Events</a> 
    <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Gallery</a> 
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact Us</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Taste and see</b></h1>
    
  </div>

  <!-- video -->

  <!-- featured -->
  <div class="container" style="height:300px;background-color:rgb(255, 160, 160);font-size:36px">
        <h1>Featured treats</h1>
    <div class="w3-quarter yellow">
           
        <img src="http://www.pngmart.com/files/5/Cupcake-PNG-Transparent-Image.png" alt="Popsicle" style="width:100%">
        <h3>All I Need Is a Popsicle</h3>
        
      </div>
      <div class="w3-quarter">
        <img src="http://www.pngmart.com/files/5/Cupcake-PNG-Transparent-Image.png" alt="Salmon" style="width:100%">
        <h3>Salmon For Your Skin</h3>
        
      </div>
      <div class="w3-quarter">
        <img src="http://www.pngmart.com/files/5/Cupcake-PNG-Transparent-Image.png" alt="Sandwich" style="width:100%">
        <h3>The Perfect Sandwich, A Real Classic</h3>
        
      </div>
      
      </div>