<div id="orderform">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="container" style="text-align: center">
                    <img src="/images/TasteLogo.png">
                    <br>
                    <h3>ORDER NOW!</h3>
                </div>
                <br>
                <form class="clearfix mb-4" action="POST">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="order-first-name">First Name*</label>
                                <input type="text" id="order-first-name" class="form-control"
                                    aria-describedby="order-first-name" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="order-last-name"> Last Name*</label>
                                <input type="text" id="order-last-name" class="form-control"
                                    aria-describedby="order-last-name" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="order-email">Email*</label>
                                <input type="text" id="order-email" class="form-control" aria-describedby="order-email"
                                    placeholder="Email Adress">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="order-phone">Phone*</label>
                                <input type="text" id="order-phone" class="form-control" aria-describedby="order-phone"
                                    placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="order-pick-date">Pickup Date*</label>
                                <input type="text" id="order-pick-date" class="form-control"
                                    aria-describedby="order-pick-date" placeholder="Date">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="order-pick-time">Pickup Time*</label>
                                <select id="order-pick-time" class="form-control" aria-describedby="order-pick-time">
                                    <option value="undefined">Time Slots</option>
                                    <option value="10:00AM">10:00 AM</option>
                                    <option value="11:00AM">11:00 AM</option>
                                    <option value="12:00PM">12:00 PM</option>
                                    <option value="1:00PM">1:00 PM</option>
                                    <option value="2:00PM">2:00 PM</option>
                                    <option value="3:00PM">3:00 PM</option>
                                    <option value="4:00PM">4:00 PM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="product-order-area">
                        <div class="form-group">
                            <label for="order-product">Choose a Product</label>
                            <select id="order-product" class="form-control" aria-describedby="order-product">
                                <option value="undefined">Available Products</option>
                                {{#each products}}
                                <option value="{{this.text}}">{{this.text}} - ${{this.price}} each</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="order-quantity">Enter Quantity</label>
                            <input type="text" id="order-quantity" class="form-control"
                                aria-describedby="order-quantity" placeholder="Enter Amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="order-note">Notes</label>
                                <textarea class="form-control" id="order-note" aria-describedby="order-note" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div>
                        <button id="placeOrder" class="btn btn-success float-right">Place Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>