<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msgOrd}}</h1>
                <br>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="products">Product Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="orders">Order Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Customer Inqueries</a>
                    </li>
                </ul>
                <br>
                <h3>Orders:</h3>
                <ul id="order-area" class="list-group">
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>