{{> testfile }}

	<section class="content-shopping-cart-page">
		<div class="container">
			<form>
				<div class="wrap-table-shopping-cart">
					<table class="table-shopping-cart">
						<tr class="table_head">
							<th class="column-1">Product</th>
							<th class="column-2">Name & Description</th>
							<th class="column-3">Price</th>
							<th class="column-4">Quantity</th>
							<th class="column-5">Total</th>
							<th class="column-6"></th>
						</tr>

						<tr>
							<td class="column-1">
								<div class="img-product">
									<img src="images/shopping-cart-img-product-in-table-01.jpg" alt="img-product">
								</div>
							</td>
							<td class="column-2">Flan-Bae cupcakes</td>
							<td class="column-3">$4/each - minimum 6 per order</td>
							<td class="column-4">
								<input class="input-num-product small-text" type="text" name="num-product" value="1" placeholder="1">
							</td>
							<td class="column-5">$ 20.00</td>
							<td class="column-6">
								<i class="btn-remove-product fa fa-times" aria-hidden="true"></i>
							</td>
						</tr>

						<tr>
							<td class="column-1">
								<div class="img-product">
									<img src="images/shopping-cart-img-product-in-table-02.jpg" alt="img-product">
								</div>
							</td>
							<td class="column-2">Potato gnocchi</td>
							<td class="column-3">$ 20.00</td>
							<td class="column-4">
								<input class="input-num-product small-text" type="text" name="num-product" value="2" placeholder="1">
							</td>
							<td class="column-5">$ 40.00</td>
							<td class="column-6">
								<i class="btn-remove-product fa fa-times" aria-hidden="true"></i>
							</td>
						</tr>
					</table>
				</div>

				<div class="wrap-coupon">
					<div class="row">
						<div class="wrap-title-coupon col-responsive-shopping-cart col-md-10 col-lg-10">
							<h4 class="title-coupon">Coupon Code</h4>
						</div>

						<div class="wrap-input-coupon col-responsive-shopping-cart col-md-10 col-lg-10">
							<input  type="text" class="input-coupon small-text" name="your-coupon" placeholder="Enter your coupon here">
						</div>
						<div class="wrap-btn-coupon col-responsive-shopping-cart col-md-10 col-lg-2">
							<button type="button" class="btn-coupon btn-with-bg">Apply Coupon</button>
						</div>
					</div>
				</div>

				<div class="wrap-estimate-shipping-extend wrap-coupon">
					<div class="row">
						<div class="wrap-title-coupon col-responsive-shopping-cart col-md-10 col-lg-10">
							<h4 class="title-coupon">Estimate Shipping</h4>
						</div>

						<div class="wrap-chose-address-extend wrap-input-coupon col-responsive-shopping-cart col-md-10 col-lg-10">
							<div class="row">
								<div class="col-responsive-chose-address left col-md-12 col-lg-6">
									<select class="chose-people" name="chose-people">
										<option>City</option>
										<option>City 2</option>
										<option>City 3</option>
										<option>City 4</option>
										<option>City 5</option>
										<option>City 6</option>
									</select>
								</div>

								<div class="col-responsive-chose-address right  col-md-12 col-lg-6">
									<select class="chose-time" name="chose-time">
										<option>State</option>
										<option>State 2</option>
										<option>State 3</option>
										<option>State 4</option>
										<option>State 5</option>
										<option>State 6</option>
									</select>
								</div>
							</div>
						</div>
						
						<div class="wrap-input-coupon col-responsive-shopping-cart col-md-10 col-lg-10">
							<input  type="text" class="input-coupon small-text" name="your-coupon" placeholder="Enter your post code here">
						</div>

						<div class="wrap-btn-coupon col-responsive-shopping-cart col-md-10 col-lg-2 ">
							<button type="button" class="btn-coupon btn-with-bg">Update Total</button>
						</div>
					</div>
				</div>

				<div class="wrap-total clearfix">
						<div class="style-pos col-right">
							<h6 class="larg-text">Total: $100.00</h6>
							<button class="btn-with-bg">Proceed To Checkout</button>
						</div>
						<div class="style-pos col-left">
							<a href="shop-page.html" class="small-text"><i class="fa fa-angle-left" aria-hidden="true"></i> Continue to shopping</a>
						</div>
				</div>
			</form>
		</div>
	</section>

	<footer class="footer-home-boxed">
				<div class="container">
					<div class="content-footer row">
						<div class="column-footer col-lg-5 col-md-8 col-sm-7">
							<h3>Contact information</h3>
							<ul>
								<li>Middlesex County, NJ</li>
								<li>FOR BOOKING: 732-668-6020</li>
								<li id="follow-us">FOLLOW US ON: 
									<a href="https://www.facebook.com/tasteandseebyaudrey"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									<a href="https://twitter.com/TasteNSeeAudrey"><i class="fa fa-twitter" aria-hidden="true"></i></a>
									<a href="https://www.instagram.com/tasteandseebyaudrey/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>

						<div class="column-footer col-lg-4 col-md-5 col-sm-7">
							<h3>Baking Hours</h3>
							<ul id="restaurant-hours">
								<li>
									<span class="span-left">Weekdays:</span>
								</li>
								<li>
									<span class="span-left">Monday - Friday</span>
									<span class="span-right">11:30AM - 2:00PM</span>
								</li>
								<li>
									<span class="span-left">Weekend:</span>
								</li>
								<li>
									<span class="span-left">Saturday</span>
									<span class="span-right">11:30AM - 2:00</span>
								</li>
								<li>
									<span class="span-left">Sunday</span>
									<span class="span-right">Closed</span>
								</li>
							</ul>
							<div class="line-divide first-line"></div>
						</div>

						<div class="column-footer col-lg-3 col-md-3 col-sm-7">
							<h3>Useful links</h3>
							<ul id="useful-links">
								<li>
									<span class="span-left">
										<a href="/">Home</a>
									</span> 
									<span class="span-right">
										<a href="/shop-page">Order Online!</a>
									</span>
								</li>
								<li>
									<span class="span-right">
										<a href="contact-us">Contact us</a>
									</span>
								</li>
							</ul>
							<div class="line-divide second-line"></div>
						</div>
					</div>
				</div>
				<div class="wrap-bottom-footer">
					<div class="container">
						<div class="bottom-footer row justify-content-between">
							<div class="col-12 col-sm-7">© 2019 Audrey. All rights reserved.</div>
						</div>
					</div>
				</div>
			</footer>
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

